/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping_term_ms = <200>;

    tapping-term-ms = <300>;
    flavor = "tap-preferred";
};

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <30 31>;
        };

        bspc {
            bindings = <&kp BACKSPACE>;
            key-positions = <32 33>;
        };

        game {
            bindings = <&to 4>;
            key-positions = <9 5>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q           &kp W           &kp E               &kp R             &kp T              &kp Y        &kp U             &kp I               &kp O           &kp P
&mt LEFT_WIN A  &mt LEFT_ALT S  &mt LEFT_CONTROL D  &mt LEFT_SHIFT F  &kp G              &kp H        &mt LEFT_SHIFT J  &mt LEFT_CONTROL K  &mt LEFT_ALT L  &mt LEFT_GUI SEMICOLON
&kp Z           &kp X           &kp C               &kp V             &kp B              &kp N        &kp M             &kp COMMA           &kp DOT         &kp SLASH
                                                    &kp TAB           &lt 2 BACKSPACE    &lt 3 SPACE  &lt 1 ENTER
            >;
        };

        num_layer {
            bindings = <
&kp MINUS         &kp N7        &kp NUMBER_8  &kp NUMBER_9  &kp EQUAL            &none  &none           &none             &none         &none
&kp LEFT_BRACKET  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &kp RIGHT_BRACKET    &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&kp GRAVE         &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp SQT              &none  &none           &none             &none         &none
                                              &kp NUMBER_0  &kp BACKSLASH        &none  &none
            >;
        };

        nav_layer {
            bindings = <
&none         &none         &none      &none           &none    &kp DEL         &kp PRINTSCREEN  &none          &none            &none
&kp LEFT_GUI  &kp LEFT_ALT  &kp LCTRL  &kp LEFT_SHIFT  &none    &kp LEFT_ARROW  &kp DOWN         &kp UP_ARROW   &kp RIGHT_ARROW  &kp CLCK
&none         &none         &none      &none           &none    &kp INS         &kp HOME         &kp PAGE_DOWN  &kp PG_UP        &kp END
                                       &none           &none    &none           &none
            >;
        };

        sym_layer {
            bindings = <
&kp F12  &kp F7  &kp F8  &kp F9  &none     &trans  &trans  &kt K_MUTE  &kp K_VOLUME_DOWN  &kp C_VOLUME_UP
&kp F11  &kp F4  &kp F5  &kp F6  &none     &trans  &none   &none       &none              &trans
&kp F10  &kp F1  &kp F2  &kp F3  &none     &trans  &none   &none       &trans             &trans
                         &trans  &trans    &trans  &trans
            >;
        };

        furry_feet_layout {
            bindings = <
&kp ESCAPE      &kp Q  &kp W  &kp E           &kp R        &trans  &trans  &trans  &trans  &trans
&kp LCTRL       &kp A  &kp S  &kp D           &kp F        &trans  &trans  &trans  &trans  &trans
&kp LEFT_SHIFT  &kp Z  &kp X  &kp C           &kp V        &trans  &trans  &trans  &trans  &trans
                              &kp LEFT_SHIFT  &kp SPACE    &sl 0   &trans
            >;
        };
    };
};
